@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1b1e;
  --foreground: #c1c2c5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
